.invert{
    filter: invert(1);
    background: transparent;
}
.invert-2{
    filter: invert(0.7);
    background: transparent;
}
.fs-1{
    font-size: 15px;
}
.spfs-2{
    font-size: 27px;
}
.spfs-3{
 font-size: 19px;
}
.spfs-4{
     font-size: 14px;
}

/* For Webkit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #333; /* Dark color for the thumb */
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #222; /* Dark color for the track */
  }
  
  /* For Firefox */
  /* scrollbar-color: #333 #222; Dark color for the thumb and track in Firefox */